<div class="container-fluid" style="margin-top: 20px ;">

   <div class="col-xl-3" style="margin-left: 450px;">
      <div class=" text-center" style="margin-bottom: 50px;">
        <h5 style="color: black">COVID-19 Pandemic Started</h5>
        <app-days ></app-days>
      </div>
  
  </div>

    <div  style="margin-left: 450px; " class="col-xl-3 col-md-6 col-6">
      <div >
        <h1 class="text-center" style="color: black">WorldWide CoronaVirus Cases</h1>

        <div class="topBoxes">
          <div class="fa-3x text-center" [class.d-none]="!isLoading">
            <i class="fas fa-circle-notch fa-spin m-2"></i>
          </div>
          <div class="topBoxesDetails text-md-right text-center" [class.d-none]="isLoading">

        
            <h2 class="font-weight-normal text-center" style="color: #002880"> {{totalCases | number}} </h2>
            <p style="color: black">{{todayCases}} Today</p>
          </div>
          <div class="progress progress-bar-alt-blue progress-sm m-0">
            <div class="progress-bar bg-blue" role="progressbar" aria-valuenow="77" aria-valuemin="0"
              aria-valuemax="100" style="width: 100%;">
            </div>
          </div>
        </div>
      </div>

    </div><!-- end col -->
  <div class="row" style=" margin-top: 50px;">

    <div  style="margin-left: 50px;  margin-top: 20px;" class="col-xl-3 col-md-6 col-6">
      <div >
        <h1 class="text-center" style="color: black">Total Deaths</h1>

        <div class="topBoxes">
          <div class="fa-3x text-center" [class.d-none]="!isLoading">
            <i class="fas fa-circle-notch fa-spin m-2"></i>
          </div>
          <div class="topBoxesDetails text-md-right text-center" [class.d-none]="isLoading">
           
            <h2 style="color: #ff5b5b" class="font-weight-normal text-center"> {{totalDeaths | number}} </h2>
            <p style="color: black" >{{todayDeaths}} Today</p>
          </div>
          <div class="progress progress-bar-alt-danger progress-sm m-0">
            <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="77" aria-valuemin="0"
              aria-valuemax="100" style="width: 100%;">
            </div>
          </div>
        </div>
      </div>

    </div><!-- end col -->

    <div  style="margin-left: 100px;  margin-top: 20px;" class="col-xl-3 col-md-6 col-6">
      <div >
        <h1 class="text-center" style="color: black" >Total Recovered</h1>

        <div class="topBoxes">
          <div class="fa-3x text-center" [class.d-none]="!isLoading">
            <i class="fas fa-circle-notch fa-spin m-2"></i>
          </div>
          <div class="topBoxesDetails text-md-right text-center" [class.d-none]="isLoading">
        
            <h2 style="color: #10c469" class="font-weight-normal text-center"> {{totalRecoveries | number}} </h2>
            <p  style="color: black" >{{activeCases | number}} Today</p>
          </div>
          <div class="progress progress-bar-alt-success progress-sm m-0">
            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="77" aria-valuemin="0"
              aria-valuemax="100" style="width: 100%;">
            </div>
          </div>
        </div>
      </div>

    </div><!-- end col -->


    <div  style="margin-left: 100px;  margin-top: 20px;" class="col-xl-3 col-md-6 col-6">
      <div >
        <h1 class="text-center" style="color: black" >Critical Cases</h1>

        <div class="topBoxes">
          <div class="fa-3x text-center" [class.d-none]="!isLoading">
            <i class="fas fa-circle-notch fa-spin m-2"></i>
          </div>
          <div class="topBoxesDetails text-md-right text-center" [class.d-none]="isLoading">
            
            <h2 style="color: #f9c851" class="font-weight-normal text-center"> {{totalCritical | number}} </h2>
            <p style="color: black" >{{casesPer1M | number}} Today</p>
          </div>
          <div class="progress progress-bar-alt-warning progress-sm m-0">
            <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="77" aria-valuemin="0"
              aria-valuemax="100" style="width: 100%;">
            </div>
          </div>
        </div>
      </div>

    </div><!-- end col -->

  </div>


  <div style="margin-top: 70px;" class="row">
    <div  class="col-xl-3" >
      <div class="card-box" style="box-shadow: 10px 10px 5px grey;width: 380px;">
        
      
        <h2  style="color: black">Infected Nations </h2>
        <div class="form-group row">
      
            <input type="text" id="example-placeholder" #search (keyup)="searchCountries(search.value)"
              class="form-control" placeholder="Search your Country">
      
         
        </div>
       
        <div class="infectedCountries" [class.d-none]="isLoadingCountries">
          <perfect-scrollbar #perfectscrollbar style="height:346px;">
            <div class="infectedCountry" *ngFor="let country of countries">
              <a [routerLink]="[ '/' ]"  (click)="myClick(country.country.toLowerCase())">
             <!-- [routerLink]="[ '/country', country.country.toLowerCase() ]" -->
                <h3 style="color: black" class="infectedCountryName mt-0 mb-1">{{country.country}}</h3>
                <p class="infectedCountryDetails font-weight-bold"><span class="text-blue">{{country.cases | number}}
                  Cases</span> &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;  <span class="text-danger">{{country.deaths | number}} Deaths</span></p>
                
              </a>
            </div>
          </perfect-scrollbar>


        </div>
      </div>
    </div><!-- end col -->


    <div style ="margin-left: 100px;" class="col-xl-8">
      <div class="card-box" style="box-shadow: 10px 10px 5px grey;">
      
        <h2 style="color: black" >Infections Rate</h2>
        <div class="fa-3x text-center" [class.d-none]="!isLoading">
          <i class="fas fa-circle-notch fa-spin m-2"></i>
        </div>
        <div class="table-responsive" [class.d-none]="isLoading">
          <div id="lineChart" style="width: 100%; height: 400px; overflow: hidden"></div>
        </div>
      </div>
    </div><!-- end col -->
</div>

<div id = "scrollToCountry">
<div *ngIf="edited == 'india'"><app-country  myname={{edited}} ></app-country></div>
<div *ngIf="edited == 'usa'"><app-country  myname={{edited}} ></app-country></div>
<div *ngIf="edited == 'brazil'"><app-country  myname={{edited}} ></app-country></div>
<div *ngIf="edited == 'russia'"><app-country  myname={{edited}} ></app-country></div>
<div *ngIf="edited == 'chile'"><app-country  myname={{edited}} ></app-country></div>
<div *ngIf="edited == 'venezuela'"><app-country  myname={{edited}} ></app-country></div>
<div *ngIf="edited == 'china'"><app-country  myname={{edited}} ></app-country></div>
<div *ngIf="edited == 'jamaica'"><app-country  myname={{edited}} ></app-country></div>
<div *ngIf="edited == 'zimbawe'"><app-country  myname={{edited}} ></app-country></div>
<div *ngIf="edited == 'zambia'"><app-country  myname={{edited}} ></app-country></div>
<div *ngIf="edited == 'yemen'"><app-country  myname={{edited}} ></app-country></div>
<div *ngIf="edited == 'western sahara'"><app-country  myname={{edited}} ></app-country></div>
<div *ngIf="edited == 'vietnam'"><app-country  myname={{edited}} ></app-country></div>
<div *ngIf="edited == 'vetican city'"><app-country  myname={{edited}} ></app-country></div>
<div *ngIf="edited == 'uzbekistan'"><app-country  myname={{edited}} ></app-country></div>
<div *ngIf="edited == 'uruguay'"><app-country  myname={{edited}} ></app-country></div>
<div *ngIf="edited == 'ukraine'"><app-country  myname={{edited}} ></app-country></div>
<div *ngIf="edited == 'uganda'"><app-country  myname={{edited}} ></app-country></div>
<div *ngIf="edited == 'uk'"><app-country  myname={{edited}} ></app-country></div>
<div *ngIf="edited == 'uae'"><app-country  myname={{edited}} ></app-country></div>
<div *ngIf="edited == 'turks and caicos'"><app-country  myname={{edited}} ></app-country></div>
<div *ngIf="edited == 'turkey'"><app-country  myname={{edited}} ></app-country></div>
<div *ngIf="edited == 'tunisia'"><app-country  myname={{edited}} ></app-country></div>
<div *ngIf="edited == 'thinidad and tobago'"><app-country  myname={{edited}} ></app-country></div>
<div *ngIf="edited == 'togo'"><app-country  myname={{edited}} ></app-country></div>
<div *ngIf="edited == 'timor-laste'"><app-country  myname={{edited}} ></app-country></div>
<div *ngIf="edited == 'thailand'"><app-country  myname={{edited}} ></app-country></div>
<div *ngIf="edited == 'tanzania'"><app-country  myname={{edited}} ></app-country></div>
<div *ngIf="edited == 'tajakistan'"><app-country  myname={{edited}} ></app-country></div>
<div *ngIf="edited == 'taiwan'"><app-country  myname={{edited}} ></app-country></div>
<div *ngIf="edited == 'syria'"><app-country  myname={{edited}} ></app-country></div>
<div *ngIf="edited == 'switzerland'"><app-country  myname={{edited}} ></app-country></div>
<div *ngIf="edited == 'swedan'"><app-country  myname={{edited}} ></app-country></div>
<div *ngIf="edited == 'suriname'"><app-country  myname={{edited}} ></app-country></div>
<div *ngIf="edited == 'sudan'"><app-country  myname={{edited}} ></app-country></div>
<div *ngIf="edited == 'st. vincent grenadines'"><app-country  myname={{edited}} ></app-country></div>
<div *ngIf="edited == 'st. barth'"><app-country  myname={{edited}} ></app-country></div>
<div *ngIf="edited == 'sri lanka'"><app-country  myname={{edited}} ></app-country></div>
<div *ngIf="edited == 'spain'"><app-country  myname={{edited}} ></app-country></div>
<div *ngIf="edited == 'south sudan'"><app-country  myname={{edited}} ></app-country></div>
<div *ngIf="edited == 'south africa'"><app-country  myname={{edited}} ></app-country></div>
<div *ngIf="edited == 'somalia'"><app-country  myname={{edited}} ></app-country></div>
<div *ngIf="edited == 'slovenia'"><app-country  myname={{edited}} ></app-country></div>
<div *ngIf="edited == 'slovakia'"><app-country  myname={{edited}} ></app-country></div>
<div *ngIf="edited == 'sint maarten'"><app-country  myname={{edited}} ></app-country></div>
<div *ngIf="edited == 'singapore'"><app-country  myname={{edited}} ></app-country></div>
<div *ngIf="edited == 'sierra leone'"><app-country  myname={{edited}} ></app-country></div>
<div *ngIf="edited == 'seychelles'"><app-country  myname={{edited}} ></app-country></div>
<div *ngIf="edited == 'afghanistan'"><app-country  myname={{edited}} ></app-country></div>
<div *ngIf="edited == 'africa'"><app-country  myname={{edited}} ></app-country></div>
<div *ngIf="edited == 'albania'"><app-country  myname={{edited}} ></app-country></div>
<div *ngIf="edited == 'algeria'"><app-country  myname={{edited}} ></app-country></div>
<div *ngIf="edited == 'americas'"><app-country  myname={{edited}} ></app-country></div>
<div *ngIf="edited == 'andorra'"><app-country  myname={{edited}} ></app-country></div>
<div *ngIf="edited == 'angola'"><app-country  myname={{edited}} ></app-country></div>
<div *ngIf="edited == 'anguilla'"><app-country  myname={{edited}} ></app-country></div>
<div *ngIf="edited == 'antigua and barbuda'"><app-country  myname={{edited}} ></app-country></div>
<div *ngIf="edited == 'argentina'"><app-country  myname={{edited}} ></app-country></div>
<div *ngIf="edited == 'amenia'"><app-country  myname={{edited}} ></app-country></div>
<div *ngIf="edited == 'aruba'"><app-country  myname={{edited}} ></app-country></div>
<div *ngIf="edited == 'asia'"><app-country  myname={{edited}} ></app-country></div>
<div *ngIf="edited == 'australia'"><app-country  myname={{edited}} ></app-country></div>
<div *ngIf="edited == 'austria'"><app-country  myname={{edited}} ></app-country></div>



</div>

<div style="margin-top: 100px;" class="row">
    <div class="col-xl-6">
<div class ="card-box" style=" box-shadow: 10px 10px 5px grey;">
          <h4 style="color: #002880;">Title : {{title1}}</h4>
 <div style="margin-top: 20px;margin-left: 80px"> <img src="{{img1}}" style="width: 400px ; height: 400px"> </div>
  <div style="margin-top: 20px;margin-left: 200px"> <a style="color: black; text-decoration: underline; " href="{{url1}}" target="_blank"> Read More on News Website </a>
  </div>
</div>
    </div><!-- end col -->


    <div class="col-xl-6" >
    <div class ="card-box" style=" box-shadow: 10px 10px 5px grey;">
         <h4 style="color: #002880;">Title : {{title2}}</h4>
   <div style="margin-top: 20px;margin-left: 80px"> <img src="{{img2}}" style="width: 400px ; height: 400px"> </div>
  <div style="margin-top: 20px;margin-left: 200px"> <a style="color: black; text-decoration: underline;" href="{{url2}}" target="_blank"> Read More on News Website </a>
  </div>
</div>
    </div><!-- end col -->
        <div  class="col-xl-6">
    <div class ="card-box" style=" box-shadow: 10px 10px 5px grey;">
              <h4 style="color: #002880;">Title : {{title3}}</h4>
   <div style="margin-top: 20px;margin-left: 80px"> <img src="{{img3}}" style="width: 400px ; height: 400px"> </div>
  <div style="margin-top: 20px;margin-left: 200px"> <a style="color: black; text-decoration: underline;" href="{{url3}}" target="_blank"> Read More on News Website </a>
  </div>
</div>
    </div><!-- end col -->
        <div  class="col-xl-6">
    <div class ="card-box" style=" box-shadow: 10px 10px 5px grey;">
        <h4 style="color: #002880;">Title : {{title4}}</h4>
   <div style="margin-top: 20px;margin-left: 80px"> <img src="{{img4}}" style="width: 400px ; height: 400px"> </div>
  <div style="margin-top: 20px;margin-left: 200px"> <a style="color: black; text-decoration: underline;" href="{{url4}}" target="_blank"> Read More on News Website </a>
  </div>
</div>
    </div><!-- end col -->
</div>


 

</div> <!-- end container -->