<footer class="footer" style = "background-color: lightgrey; margin-bottom: 0px" >
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="footer-widget">
          <h3 style="color: black;">Stay in touch</h3>
          <h1 style="color: black;">Ankit Vig</h1>
          <div class="footer-widget-content">
            <a href="mailto:ankitkumarvig@gmail.com" class="contact-link">ankitkumarvig@gmail.com</a>
          
          
            <div class="footer-social">
            <ul>
             
              <li><a href="https://github.com/AnkitVig" target="_blank">GitHub</a></li>
              <li><a href="https://www.linkedin.com/in/ankitkumarvig/" target="_blank" style="color: #0e76a8">LinkedIn</a></li>
              
            </ul>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>